body {
  background-color: lightgrey;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 500px;
  background-color: white;
  cursor: pointer;
}

.item-button {
  display: flex;
  justify-content: center;
  height: fit-content;
  /* width: fit-content */
  background-color: transparent;
  border: none;
  margin: 1rem;
}

.item-index {
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.item-title {
  font-weight: bold;
}
